* {
  margin: 0;
  padding: 0;
}

#title {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  text-align: center;
}

header {
  background-color: #cf0a2c;
  padding: 30px;
}

#description {
  font-size: 25px;
  color: white;
  background-color: black;
  position: relative;
  padding: 30px;
}

#survey-form {
  background-color: #dcdcdc;
}

div {
  background-color: #dcdcdc;
  margin: 0px;
  padding: 0px;
}

#name-label,
#email-label,
#number-label {
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

#fan {
  font-size: 20px;
  font-weight: bold;
}

#firstquestion-label,
#secondquestion-label,
#thirdquestion-label {
  font-size: 20px;
  font-weight: bold;
}

textarea {
  width: 50%;
}

#submit {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

footer {
  text-align: center;
  font-size: 18;
  background-color: black;
  color: white;
}

.wrapper {
  justify-content: center;
  display: flex;
  padding: 60px 0 80px 0;
  margin: 0px;
}

input[type="text"],
select {
  width: 60%;
  padding: 5px 10px;
  border: 1px solid #cf0a2c;
  margin: 8px 0 30px 0;
}

input[type="email"],
select {
  width: 60%;
  padding: 5px 10px;
  border: 1px solid #cf0a2c;
  margin: 8px 0 30px 0;
}

input[type="number"],
select {
  width: 60%;
  padding: 5px 10px;
  border: 1px solid #cf0a2c;
  margin: 8px 0 30px 0;
}
